footer{
    background-color: rgb(233, 245, 165);
    height: 180px;
}

footer img{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

footer h2{
    padding: 15px;
}
footer h3{
    padding: 5px 10px;
}

footer p{
    padding: 5px 20px;
}